*{
    font-family: 'Lato';
    margin: 0;
    padding: 0;
}
#app .login{
    background: url(../image/flock-of-birds-917495.jpg);
    height: 100vh;
    background-size: cover;
}
#form-login{
    margin-top: 90px;
    width: 442px;
    background: #FFFFFF;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    padding: 40px;
}

.form-container{
    display: flex;
    justify-content: center;
}

.input-wrapper{
    display:flex;
    flex-direction: column;
    margin-bottom: 24px;
    font-size: 16px;
}
.input-wrapper label{
    margin-bottom: 8px;
}
.input-wrapper input{
    height: 53px;
    border: 1px solid #E0E0E0;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 10px 13px;
    font-size: 15px;
}

.container{
    margin-bottom: 80px;
    
}
.container .nav-bar-container{
    height: 50px;
    display: flex;
    margin: 0px 144px;
    justify-content: space-between;
}
.nav-bar-container .logo {
    line-height: 50px;
    font-size: 36px;
    font-weight: 600;
    color:white;
}
.nav-bar-container .list-main-navbar {
    width: 416px;
    height: 50px;
    display: flex;
    justify-content: space-between;

}
.list-main-navbar .navbar-item {
    font-weight: 500;
    font-size: 25px;
    color:white;
}
.list-main-navbar .navbar-item i{
    line-height: 50px;
}
.list-main-navbar .navbar-item:hover{
    color: rgb(141, 140, 140);
}


#redirect-to-register:hover{
    text-decoration: underline;
}
#form-login .title{
    text-align: center;
    font-size: 39px;
    color: #757575;
    font-family: sans-serif;
    padding-bottom: 20px;
}
