.add-card {
    height: auto;
    background-color: D2FFFF;
    
}

.add-card .create-card {
    width: 1520px;
    margin: auto;
    
    display:flex;
    justify-content: space-between;
}
.add-card .create-card .infor-collection-card {
    width: 350px;
    height: 738px;
    margin-top:38px;
    background: #FFE500;
    border: 1px solid rgba(159, 244, 178, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}


.add-card .create-card .main-add-card {
    width:1000px;
    margin-top: 38px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
}
.add-card .create-card .infor-collection-card .image-collection-cover img {
    width: 275px;
    height: 271px;
    border-radius: 20px;
    margin: 35px;
}
.add-card .create-card .infor-collection-card p {
    font-size: 25px;
    margin: 25px 0px 25px 28px;
    font-family: 'Epilogue', sans-serif;
}
.add-card .create-card .main-add-card .card .font-card img {
    width: 260px;
    height: 266px;
    margin: 42px 42px 0px 42px;
}
.add-card .create-card .main-add-card .card{
    margin: 43px;
    display: flex;
    justify-content: space-around;
}
.add-card .create-card .main-add-card .card .font-card{
    width: 425px;
    height: 420px;
    /* width: 557px; */
    background: #FFE500;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.1), -2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    
}
.add-card .create-card .main-add-card .card .font-card .main-vocab{
    margin-top: 20px;
}

.add-card .create-card .main-add-card .card .back-card {
    width: 425px;
    height: 420px;
    /* width: 557px; */
    background: #FFE500;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, 0.1), -2px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    

}
.add-card .create-card .main-add-card .card .back-card p{
    font-size: 20px;
}
.add-card .create-card .main-add-card .card .back-card .listNotes{
    margin: 30px;
}
.add-card .create-card .main-add-card .card .back-card .listNotes >*{
    margin-bottom:20px
}

