.btn{
    background: #35CE97;
    border: 1px solid #35CE97;
    border-radius: 88px;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 16px 0;
    margin-top: 15px;
}
.btn:hover{
    background-color: #1811DB;
    cursor: pointer;
}
.error{
    color:red
}

nav{
    background-color: #32CDFF;
}
i{
    color: white;
    margin-right: 4px;
}
ul{
    list-style: none;
}
